*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #202124;
  --gray: #3c4043;
  --blue: #8ab4f8;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: var(--dark);
}

button {
  cursor: pointer;
}
